<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
  integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
  integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
<footer class="bg-dark text-white text-center p-4 bottom-0 w-100">
  &copy; 2024 - Desenvolvido por <a class="link-primary link-underline-opacity-0" href=" https://github.com/Alex5ander"
    target="_blank">Alexsander
    Gutierrez
    Gonçalves</a>
</footer>