<!DOCTYPE html>
<html lang="pt-br">
<%- include('../header.ejs') -%>

  <body>
    <%- include('../navbar.ejs') -%>
      <div class="container">
        <h1 class="text-center">Not Found 404</h1>
      </div>
      <%- include('../footer') -%>
  </body>

</html>